* {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom left, #502c9d, #944079);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
}

.input-container input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#button {
  width: 20%;
  max-width: 100px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

#button:hover {
  background-color: red;
}

#button:active {
  background-color: #3e8e41;
}

#button:focus {
  outline: none;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 4em;
  letter-spacing: 6px;
  font-family: "Press Start 2P";
  font-weight: 400;
  margin: 0;
  line-height: 1;
  animation: glitch1 5s infinite;
}

h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 5s infinite;
}

h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 5s infinite;
}

@keyframes glitch1 {
  0%, 10%, 27%, 52%, 100% {
    transform: none;
    opacity: 1;
  }
  7%, 30%, 50%, 75%, 80% {
    transform: skew(0, 0);
    opacity: 0.75;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
  }
  72% {
    transform: skew(0.4deg, 1deg);
  }
}

@keyframes glitch2 {
  0%, 10%, 27%, 52%, 100% {
    transform: none;
    opacity: 0.25;
  }
  7%, 30%, 50%, 75%, 80% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
}

@keyframes glitch3 {
  0%, 10%, 27%, 52%, 100% {
    transform: none;
    opacity: 0.25;
  }
  7%, 30%, 50%, 75%, 80% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
}

.description {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .input-container {
    width: 90%;
  }

  #button {
    width: 30%;
  }

  h1 {
    font-size: 3em;
    letter-spacing: 4px;
  }

  .description {
    margin-top: 10px;
    font-size: 12px;
  }
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.toast.show {
  opacity: 1;
}
